.chart_BoxPlot .boxPlot {
  font: 10px sans-serif;
}

.chart_BoxPlot .boxPlot line,
.chart_BoxPlot .boxPlot rect,
.chart_BoxPlot .boxPlot circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.chart_BoxPlot .boxPlot .center {
  stroke-dasharray: 3,3;
}

.chart_BoxPlot .boxPlot .outlier {
  fill: none;
  stroke: #ccc;
}

.chart_BoxPlot .boxPlot text {
  fill: none;
  stroke: none;
}
