.layout_AbsoluteSurface {
    pointer-events: none;
}

.layout_AbsoluteSurface .placeholder {
    position: relative;
    //overflow: hidden;
    border-style:solid;
    border-width: 1px;
    border-color: red;
}

.layout_Layered .placeholder .common_Widget {
    pointer-events: all;
}

.layout_Layered .placeholder .common_Widget.layout_AbsoluteSurface {
    pointer-events: none;
}
